# Final Project - Digital Twin - Simulation of Millie

# Names

- Antony Liao
- Yuheng Ma
- Yanguang Zhou
- Yuyao Wang
- Shihan Qian

# Abstract 
Our goal is to ...

# Background

digital twin ...

# Data

The group makes observation on Millie's operation situation during one week (11.8-11.15) on different times of the day (covering morning, noon and afternoon)

# Setup and Data Cleaning

In [57]:
# Imports
import numpy as np
import pandas as pd
import math
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

# Warnings
import warnings
warnings.filterwarnings('ignore')

In [20]:
df = pd.read_excel('Data_Millie.xlsx')
df.head()

,Day,Day of the week,Time slot,Order Number,Menu Items,Number of the Item
0,2023-11-09,Thursday,8am-9am,1,Hot Latte,1
1,2023-11-09,Thursday,8am-9am,2,Panini,1
2,2023-11-09,Thursday,8am-9am,3,Hot Latte,1
3,2023-11-09,Thursday,8am-9am,4,Hot Latte,1
4,2023-11-09,Thursday,8am-9am,5,Hot Chocolate,1

In [21]:
df

,Day,Day of the week,Time slot,Order Number,Menu Items,Number of the Item
0,2023-11-09,Thursday,8am-9am,1,Hot Latte,1
1,2023-11-09,Thursday,8am-9am,2,Panini,1
2,2023-11-09,Thursday,8am-9am,3,Hot Latte,1
3,2023-11-09,Thursday,8am-9am,4,Hot Latte,1
4,2023-11-09,Thursday,8am-9am,5,Hot Chocolate,1
...,...,...,...,...,...,...
3837,2023-11-15,Wednesday,7pm-8pm,583,Packaged product,1
3838,2023-11-15,Wednesday,7pm-8pm,584,Hot Latte,1
3839,2023-11-15,Wednesday,7pm-8pm,585,Pre-baked goods,1
3840,2023-11-15,Wednesday,7pm-8pm,586,Affogato,1
3841,2023-11-15,Wednesday,7pm-8pm,587,Milkshake,1

Table_1 - number of each item

In [38]:
Table_1 = df.groupby(['Day of the week','Time slot','Menu Items'],as_index = False)['Number of the Item'].sum()

In [39]:
#If you want to output to an excel
Table_1.to_excel("output.xlsx",sheet_name='Number of each item')

    Day of the week  Time slot        Menu Items  Number of the Item
0            Friday  10am-11am         Cappucino                   2
1            Friday  10am-11am            Coffee                   5
2            Friday  10am-11am     Hot Americano                   1
3            Friday  10am-11am         Hot Latte                   8
4            Friday  10am-11am         Ice Cream                   6
..              ...        ...               ...                 ...
959       Wednesday   9am-10am          Iced Tea                   1
960       Wednesday   9am-10am             Mocha                   1
961       Wednesday   9am-10am  Packaged product                   6
962       Wednesday   9am-10am            Panini                   5
963       Wednesday   9am-10am   Pre-baked goods                   4

[964 rows x 4 columns]

In [43]:
df_pt = pd.read_excel('Process_time.xlsx')

In [47]:
df_pt

           Item name  process time
0         Iced Latte           1.7
1          Hot Latte           1.5
2          Ice cream           0.7
3     Iced Americano           1.2
4      Hot Americano           1.0
5    Pre-baked goods           0.2
6          Cappucino           2.0
7      Hot Chocolate           1.5
8             Panini           3.0
9              Mocha           2.0
10            Coffee           1.0
11  Packaged product           0.2
12          Affogato           1.0
13         Milkshake           3.0
14           Hot Tea           1.0
15          Iced Tea           1.2
16          Espresso           0.5

In [45]:
merged = pd.merge(df,df_pt, left_on = 'Menu Items', right_on = 'Item name', how = 'inner')

Table 2 - number of employees needed

In [66]:
Table_2= merged.groupby(['Day of the week','Time slot'],as_index = False)['process time'].sum()

In [67]:
Table_2['number_of_employees'] = (Table_2['process time']/60)//1+1

In [68]:
Table_2.to_excel("output.xlsx",sheet_name='Number of employees needed')

   Day of the week  Time slot  process time  number_of_employees
0           Friday  10am-11am          52.3                  1.0
1           Friday  11am-12pm          57.8                  1.0
2           Friday   12pm-1pm          74.7                  2.0
3           Friday    1pm-2pm          61.7                  2.0
4           Friday    2pm-3pm          55.7                  1.0
..             ...        ...           ...                  ...
69       Wednesday    5pm-6pm          51.9                  1.0
70       Wednesday    6pm-7pm          76.8                  2.0
71       Wednesday    7pm-8pm          69.8                  2.0
72       Wednesday    8am-9am          39.8                  1.0
73       Wednesday   9am-10am          55.2                  1.0

[74 rows x 4 columns]

In [ ]:
Table_4 =